body {
  background: rgb(208, 215, 250);
  background: linear-gradient(
    349deg,
    rgba(208, 215, 250, 1) 18%,
    rgba(250, 180, 194, 1) 84%
  );
  min-height: 100vh;
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3.4em;
  color: rgb(158, 255, 255);
  text-shadow: 3px 5px 10px black;
  border-bottom: 5px solid rgb(212, 125, 212);
  font-weight: bold;
}

.form-add-todo {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6em;
}
.input-form {
  width: 450px;
  height: 1.6em;
  border: 4px springgreen solid;
  border-radius: 5px 6px 5px 6px;
  outline: unset;
  font-size: 1em;
  padding: 5px;
  box-shadow: 10px 10px 10px black;
}

#add-todo {
  font-size: 0.8em;
  background-color: rgba(172, 248, 95, 0.789);
  outline: unset;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid rgba(172, 248, 95, 0.789);
  margin: 15px;
}

.todo-list-title {
  font-size: 2.2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(255, 23, 162);
  text-shadow: 3px 5px 20px black;
  font-weight: bold;
  border-bottom: 2px solid rgb(255, 23, 162);
}

#todo-box {
  background: rgb(225, 218, 255);
  background: linear-gradient(
    90deg,
    rgba(225, 218, 255, 1) 0%,
    rgba(252, 224, 255, 1) 41%,
    rgba(205, 247, 255, 1) 96%
  );
  border-radius: 20px 20px 20px;
  padding: 20px;
  margin: 20px;
}

.delete-img {
  height: 40px;
}
.edit-img {
  height: 40px;
  margin-right: 10px;
}
.li-todo {
  list-style: none;
  background: rgb(255, 175, 253);
  background: linear-gradient(
    43deg,
    rgba(255, 175, 253, 1) 0%,
    rgba(255, 208, 222, 1) 9%,
    rgba(227, 255, 224, 1) 30%,
    rgba(224, 255, 249, 1) 46%,
    rgba(248, 255, 224, 1) 63%,
    rgba(233, 233, 255, 1) 88%,
    rgba(255, 175, 253, 1) 100%
  );
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.3em;
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;

  border-radius: 30px;
}
#sub-title {
  font-size: 1.4em;
  color: bisque;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 5px 5px 10px black;
}

#popup-edit-box {
  display: none;
  background-color: rgb(255, 174, 167);
  border: 3px solid rgb(201, 255, 255);
  border-radius: 10px;
  padding: 15px;
  width: 600px;
  position: absolute;
  top: 40%;
  margin-left: 20%;
  z-index: 11;
}

#input-edit {
  width: 500px;
}
